@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
}

html, body {
  margin: 0;
  background: #121212;
}